@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=Generator content="Microsoft Word 14 (filtered)">
<style>

 /* Font Definitions */
    h1, p {
    color: rgb(173,242,250);
    }

  div.ex {
    margin-top: 20px;
    margin-right: 200px;
    margin-left: 200px;
}
 /* Style Definitions */
 
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}

</style>

</head>

<body lang=EN-US >
<div class="ex">
<div class=WordSection1>

<h1><span style='font-size:9.0pt;line-height:115%'>                                                                       
  </span><span style='font-size:18.0pt;line-height:115%'><font color="white"> USMAN IFTIKHAR </font></span></h1>
    </br>
<p class=MsoNormal><span style='font-size:12.0pt'>F – Block 
Gulshan-e-ravi                                                                                                                 
</span></p>

<div>

<p class=MsoNormal style='border:none;padding:0in'><span style='font-size:12.0pt;
line-height:115%'>Punjab, Lahore, +92                                                                                        D.O.B
29 –AUG-1993</span></p>

<p class=MsoNormal style='border:none;padding:0in'><span style='font-size:12.0pt;
line-height:115%'>0313-4029447                                                                                       
</span><a href="mailto:uxmaniftikharmalik@gmail.com"><span style='font-size:
12.0pt;line-height:115%'>uxmaniftikharmalik@gmail.com</span></a></p>

</div>

<p class=MsoNormal><b><span style='font-size:10.0pt;line-height:115%'>OBJECTIVE:</span></b><span
style='font-size:10.0pt;line-height:115%'>      TO obtain manage management
position / Internship position .</span></p>

<p class=MsoNormal><b><span style='font-size:10.0pt;line-height:115%'>EDUCATION:</span></b><span
style='font-size:10.0pt;line-height:115%'>     Matric in
Science                                                   <b>Aizar school
system</b>                          Samnabad Lahore </span></p>

<p class=MsoNormal><span style='font-size:10.0pt;line-height:115%'>                   
       Intermediate in Science   I.C.S                              <b>Punjab
College Lahore</b>                  Muslim town Lahore </span></p>

<p class=MsoNormal><span style='font-size:10.0pt;line-height:115%'>                     
    Diploma in Office Management                              <b>I B L College</b>           
                         Samnabad Lahore                                    </span></p>

<p class=MsoNormal><span style='font-size:10.0pt;line-height:115%'>                        
<b>Bachelor  of science in computer science</b> :  software develop ,  manage
&amp; IT skills management </span></p>

<p class=MsoNormal><span style='font-size:10.0pt;line-height:115%'>               
          <b>NCBA&amp;E</b>           UNIVERSITY                                                                      GULBERG
MAIN campus LAHORE </span></p>

<p class=MsoListParagraph style='margin-left:150.0pt;text-indent:-.25in'><span
style='font-size:10.0pt;line-height:115%;font-family:Symbol'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span dir=LTR></span><span style='font-size:10.0pt;line-height:
115%'>Graduation in progress  6<sup>th</sup> Semester CGPA 2.72</span></p>

<p class=MsoNormal><b><span style='font-size:10.0pt;line-height:115%'>RELEVANT
EXPERIENCE:</span></b><span style='font-size:10.0pt;line-height:115%'>                                    </span></p>

<p class=MsoNormal><span style='font-size:10.0pt;line-height:115%'>                                                      
      CALL CENTER                                                                  APRIL
2015  -  NOV 2015</span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
line-height:115%'>                                                       Computer
Networking &amp; Computer marketing                    2013 ---   2013</span></p>

<p class=MsoNormal style='text-align:justify'><span style='font-size:10.0pt;
line-height:115%'>                                                       (NETWORKING
COMPANY HOUSE) INTERN                          2014 ---   2014                                             
               </span></p>

<p class=MsoListParagraphCxSpFirst style='margin-left:150pt;text-indent:
-.25in'><span style='font-size:10.0pt;line-height:115%;font-family:Symbol'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span dir=LTR></span><span style='font-size:10.0pt;line-height:
115%'>software develop &amp; manage</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:150pt;text-indent:
-.25in'><span style='font-size:10.0pt;line-height:115%;font-family:Symbol'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span dir=LTR></span><span style='font-size:10.0pt;line-height:
115%'>Microsoft word , Excel , powerpoint</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:150pt;text-align:
justify;text-indent:-.25in;text-autospace:none'><span style='font-size:10.0pt;
line-height:115%;font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span dir=LTR></span><span style='font-size:10.0pt;line-height:
115%'>C# , xaml , Java , C++ , Cloud computing, HTML, Web Development in HTML</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:150pt;text-align:
justify;text-indent:-.25in;text-autospace:none'><span style='font-size:10.0pt;
line-height:115%;font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span dir=LTR></span><span style='font-size:10.0pt;line-height:
115%'>Logic Design , Circuit making skills</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:150pt;text-align:
justify;text-indent:-.25in;text-autospace:none'><span style='font-size:10.0pt;
line-height:115%;font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span dir=LTR></span><span style='font-size:10.0pt;line-height:
115%'>Graphic Designing , Networking</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:150pt;text-indent:
-.25in'><span style='font-size:10.0pt;line-height:115%;font-family:Symbol'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span dir=LTR></span><span style='font-size:10.0pt;line-height:
115%'>Manage DATA Entry System</span></p>

<p class=MsoListParagraphCxSpLast style='margin-left:150pt;text-indent:-.25in'><span
style='font-size:10.0pt;line-height:115%;font-family:Symbol'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span dir=LTR></span><span style='font-size:10.0pt;line-height:
115%'>IT skills experience  &amp; work on this skills</span></p>

<p class=MsoNormal><b><span style='font-size:10.0pt;line-height:115%'>Other
experience:</span></b><span style='font-size:10.0pt;line-height:115%'>                    
                                                                                     Jan
2015 --  November 2015              </span></p>

<p class=MsoListParagraphCxSpFirst style='margin-left:150pt;text-indent:-.25in'><span
style='font-size:10.0pt;line-height:115%;font-family:Symbol'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span dir=LTR></span><span style='font-size:10.0pt;line-height:
115%'>Oversee inventory and auditing of products</span></p>

<p class=MsoListParagraphCxSpMiddle style='margin-left:150pt;text-indent:
-.25in'><span style='font-size:10.0pt;line-height:115%;font-family:Symbol'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span dir=LTR></span><span style='font-size:10.0pt;line-height:
115%'>Complete holding setup through networking </span></p>

<p class=MsoListParagraphCxSpLast style='margin-left:150pt;text-indent:-.25in'><span
style='font-size:10.0pt;line-height:115%;font-family:Symbol'>·<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span dir=LTR></span><span style='font-size:10.0pt;line-height:
115%'>Management Skills</span></p>

<p class=MsoNormal><b><span style='font-size:10.0pt;line-height:115%'>STUDENT
WORK:                                                                                                                          </span></b><span
style='font-size:10.0pt;line-height:115%'>June 2009 --- December 2011     </span></p>

<p class=MsoNoSpacing><span style='font-size:10.0pt'>                            
   PUNJAB COLLEGE OF INFORMATION TECHNOLOGY                                              Muslim
Town Lahore       </span></p>

<p class=MsoNoSpacing style='margin-left:150pt;text-indent:-.25in'><span
style='font-size:10.0pt;font-family:Wingdings'>§<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span></span><span dir=LTR></span><span style='font-size:10.0pt'>Research on
new products ,new scheming coding </span></p>

<p class=MsoNoSpacing style='margin-left:150pt;text-indent:-.25in'><span
style='font-size:10.0pt;font-family:Wingdings'>§<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span></span><span dir=LTR></span><span style='font-size:10.0pt'>Organizes
office, file record etc</span></p>

<p class=MsoNoSpacing style='margin-left:150pt;text-indent:-.25in'><span
style='font-size:10.0pt;font-family:Wingdings'>§<span style='font:7.0pt "Times New Roman"'>&nbsp;
</span></span><span dir=LTR></span><span style='font-size:10.0pt'>Teaching and
School ,College  competition speech on IT technology</span></p>

<p class=MsoNormal><b><span style='font-size:10.0pt;line-height:115%'>ACTIVITIES:</span></b></p>

<p class=MsoListParagraphCxSpFirst style='margin-left:2in;text-indent:-.25in'><span
style='font-size:10.0pt;line-height:115%;font-family:Wingdings'>§<span
style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span dir=LTR></span><span
style='font-size:10.0pt;line-height:115%'>Society of SOFTWARE engineering 
ACMA                                                  2011 – 2014</span></p>

<p class=MsoListParagraphCxSpLast style='margin-left:2in;text-indent:-.25in'><span
style='font-size:10.0pt;line-height:115%;font-family:Wingdings'>§<span
style='font:7.0pt "Times New Roman"'>&nbsp; </span></span><span dir=LTR></span><span
style='font-size:10.0pt;line-height:115%'>Society of event management PLECTRA
&amp; USHERS                                   2011-2013</span></p>

</div>
    </div>
</body>

</html>